@import url("nullstyle.css");
@font-face {
	font-family: "Arial-MT";
	src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}
html {
	min-width: 460px;
}
$white: #fff;
$gray: #bbb;
$active: rgb(211, 141, 11);
$bg-dark: rgba(0, 0, 0, 0.4);
body {
	color: $white;
	user-select: none;
	font-size: 16px;
	width: 100%;
	height: 100vh;
	z-index: 1;
	transition: background-image 0.7s ease-in-out;
	position: relative;
	overflow: hidden;

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: $bg-dark;
		z-index: -1;
	}
}
input::placeholder {
	color: $gray;
}
.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
	padding: 0px 20px;
}
.momentum__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;

	.time {
		display: flex;
		align-items: flex-end;
		flex: 0 1 60%;
		min-height: 125px;
		margin-bottom: 30px;
		@media (max-width: 1024px) {
			font-size: 60px;
		}
		@media (max-width: 768px) {
			font-size: 38px;
		}
		font-size: 85px;
		font-family: "Arial-MT";
		letter-spacing: -5px;
		font-weight: 700;

		&-daytime {
			margin-left: 20px;
		}
	}
	.main {
		flex: 0 1 40%;
		text-align: center;
		.date {
			font-size: 24px;
			margin-bottom: 20px;
		}

		.hello {
			font-size: 40px;
			margin-bottom: 20px;
			@media (max-width: 1024px) {
				font-size: 30px;
			}
			@media (max-width: 768px) {
				font-size: 20px;
			}
			&__text {
				margin-right: 10px;
				@media (max-width: 1024px) {
					font-size: 24px;
				}
				@media (max-width: 768px) {
					font-size: 20px;
				}
			}
			input {
				user-select: text;
				color: $white;
				background: inherit;
				font-size: 40px;
				width: 30%;
				@media (max-width: 1024px) {
					font-size: 24px;
				}
				@media (max-width: 768px) {
					font-size: 20px;
				}
				&::placeholder {
					font-size: 28px;
					@media (max-width: 1024px) {
						font-size: 24px;
					}
					@media (max-width: 768px) {
						font-size: 20px;
					}
				}
			}
		}
	}
	.footer {
		padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.quote {
			font-size: 14px;
			text-align: center;
			&-text {
				margin-bottom: 10px;
			}
		}
		.button-quote-active {
			img {
				animation: animateQuote 0.5s linear;
			}
		}
		@keyframes animateQuote {
			0% {
				transform: rotate(0deg);
			}
			25% {
				transform: rotate(90deg);
			}
			50% {
				transform: rotate(180deg);
			}
			75% {
				transform: rotate(270deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
	.button {
		background: inherit;
		width: 40px;
		height: 40px;
		margin-bottom: 20px;

		@media (max-width: 1024px) {
			width: 30px;
			height: 30px;
		}
		@media (max-width: 768px) {
			width: 20px;
			height: 20px;
			margin-bottom: 10px;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}

	aside {
		position: absolute;
		top: 20px;
		max-width: 25%;
	}
	.button-slider {
		position: absolute;
		top: 50%;
	}
	.button-slider-l {
		left: 20px;
	}
	.button-slider-r {
		right: 20px;
	}
	.button-slider-l.active-arrow {
		animation: animateArrowL 0.2s linear;
		@keyframes animateArrowL {
			0% {
				transform: translateX(0%);
			}
			50% {
				transform: translateX(-50%);
			}
			100% {
				transform: translateX(-90%);
			}
		}
	}
	.button-slider-r.active-arrow {
		animation: animateArrowR 0.2s linear;
		@keyframes animateArrowR {
			0% {
				transform: translateX(0%);
			}
			50% {
				transform: translateX(45%);
			}
			100% {
				transform: translateX(90%);
			}
		}
	}

	.audio {
		left: 20px;
		max-height: 45%;
		padding: 10px;
		overflow: auto;
		@media (max-width: 768px) {
			left: 5px;
		}
		&__list {
			max-height: 20%;
			overflow: hidden;
		}
		&__nav {
			text-align: center;
		}
		button:nth-child(2) {
			transform: scale(1.3);
			margin: 0px 15px;

			@media (max-width: 768px) {
				margin: 0px 5px;
			}
			transition: all 0.5s ease-in-out;
		}

		&__track {
			position: relative;
			margin-bottom: 5px;
			padding-left: 20px;
			line-height: 20px;
			font-size: 20px;
			@media (max-width: 768px) {
				padding-left: 15px;
				font-size: 14px;
			}
			&::before {
				content: "";
				position: absolute;
				left: 0px;
				top: 15%;
				width: 16px;
				height: 16px;
				background: url("../assets/svg/okDefault.svg") center / cover no-repeat;
				@media (max-width: 768px) {
					width: 12px;
					height: 12px;
				}
			}
			&-active {
				color: $active;
				background: $bg-dark;
				&::before {
					background: url("../assets/svg/okActive.svg") center / contain no-repeat;
				}
			}
		}
	}
	.weather {
		right: 20px;
		@media (max-width: 768px) {
			right: 5px;
			font-size: 14px;
		}
		div {
			margin-bottom: 10px;
		}
		&__image {
			font-size: 44px;
			margin: 0;
		}
		&__city {
			input {
				background: transparent;
				font-size: 20px;
				border-bottom: 1px solid $white;
				padding-bottom: 5px;
				color: $white;
			}
		}
	}
}
